<ion-view view-title="Products">
  <ion-content>
    <div class="list">
      <div class=" item item-divider">
        Search
      </div>
      <input type="text" class="rowInput" ng-model="selected"
             uib-typeahead="category for category in categories | filter:$viewValue | limitTo:8"
             class="form-control"
             placeholder="Category">
      <input type="text" class="rowInput" ng-model="selected"
             uib-typeahead="name for name in productNames | filter:$viewValue | limitTo:8"
             class="form-control"
             placeholder="Product's name">
      <div class="item item-divider">
        Products
      </div>
    </div>
    <div class="row">
      <div class="col-50 col header-colors">name</div>
      <div class="col-33 col header-colors">calories/100</div>
      <div class="col header-colors">
        Инф
      </div>
    </div>
    <div class="row" ng-repeat="product in products">
      <div class="col-50 col">{{product.name}}</div>
      <div class="col-33 col">{{product.calories}}</div>
      <button class="col button-positive icon ion-clipboard" ng-click="openModal(product)">
      </button>
    </div>
    <button class="button button-full button-stable">
      Add Product
    </button>

  </ion-content>

</ion-view>
