/* Empty. Add your own CSS if you like */
.col {
  border-radius: 2px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin: 2px;
}
.col-50{
  flex-basis: 50%;
  max-width: 50%;
}
.col-33{
  flex-basis: 33%;
  max-width: 33%;
}
.col-10{
  flex-basis: 50%;
  max-width: 50%;
}
.header-colors{
  background: rgba(255, 185, 97, 0.5);
}
.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.row{
  margin-left: 0;
  margin-right: 0;

}
.rowInput{
  border-color: #0c60ee;
  margin-left: 15px;
  margin-right: 0;

}
.my{
  margin-ledt: 30px;

}
